@import "../../scss/variables";
// is a li
.project-card {
	list-style: none;
	padding: 2.4rem;
	color: var(--secondary);
	border-radius: 0.8rem;
	width: 100%;

	& a {
		display: grid;
		justify-items: center;
		grid-template-rows: max-content max-content auto max-content;
		row-gap: 1.6rem;
		text-decoration: none;
		color: var(--secondary);
		height: 100%;
	}

	& h3 {
		font-weight: 400;
	}

	& .icon-circle__wrapper {
		background: var(--aqua800);
	}

	& .icon {
		background-color: var(--primary);
	}

	& .skills {
		display: flex;
		row-gap: 0.8rem;
		column-gap: 0.8rem;
		flex-wrap: wrap;
		justify-self: flex-start;

		& .pill {
			background: var(--secondary);
			color: var(--primary);
			padding: 0.4rem 1.2rem;
			border-radius: 50rem;
		}
	}

	@media (prefers-color-scheme: light) {
		background-image: linear-gradient(45deg, #131313b2, #0d1010);
	}

	@media (prefers-color-scheme: dark) {
		background-image: linear-gradient(45deg, #eeeeeeab, #f0fdff);
	}

	@media (min-width: $small) {
		&:last-child {
			grid-column: 1/-1;
		}
	}

	@media (min-width: $medium) {
		&:last-child {
			grid-column: unset;
		}
	}
}
