@import "../../scss/variables";
// is a li
.project-card {
	position: relative;
	list-style: none;
	padding: 2.4rem;
	color: var(--secondary);
	border-radius: 0.8rem;
	width: 100%;
	background-image: linear-gradient(45deg, #eeeeeeab, #ffffff);
	overflow: hidden;

	&.old-code::after {
		position: absolute;
		content: "warning: \A old code";
		white-space: pre-wrap;
		line-height: 1;
		bottom: 1.6rem;
		right: -4.4rem;
		background: var(--mix-colors-orange);
		width: max-content;
		height: max-content;
		transform: rotate(-45deg);
		padding: 0.4rem 4.8rem;
		text-align: center;
	}
	& a {
		display: grid;
		justify-items: center;
		grid-template-rows: max-content max-content auto max-content;
		row-gap: 1.6rem;
		text-decoration: none;
		color: var(--secondary);
		height: 100%;
	}

	& h3 {
		font-weight: 400;
	}

	& .description {
		align-self: flex-start;
		line-height: 1.75;
	}

	& .icon-circle__wrapper {
		background: var(--secondary);
	}

	& .icon {
		background-color: var(--primary);
	}

	& .skills {
		display: flex;
		row-gap: 0.8rem;
		column-gap: 0.8rem;
		flex-wrap: wrap;
		justify-self: flex-start;

		& .pill {
			background: var(--secondary);
			color: var(--primary);
			padding: 0.4rem 1.2rem;
			border-radius: 0.4rem;
			font-family: monospace;
			&.highlight {
				background: var(--aqua300);
			}
		}
	}

	&:hover {
		animation: shake 0.5s linear;
	}

	@keyframes shake {
		0% {
			// transform: rotate(1deg);
			transform: scale(1);
		}

		50% {
			// transform: rotate(-1deg);
			transform: scale(1.02);
		}

		100% {
			// transform: rotate(0);
			transform: scale(1);
		}
	}

	@media (min-width: $small) {
		&:last-child {
			grid-column: 1/-1;
		}
	}

	@media (min-width: $medium) {
		&:last-child {
			grid-column: unset;
		}
	}
}
