@import "../../scss/variables";

section.work-history {
	.jobs-section {
		& .title__wrapper {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			column-gap: 0.8rem;
			line-height: 1;

			@media (min-width: $xsmall) {
				& p {
					display: inline-flex;
					column-gap: 0.8rem;

					&::before {
						content: "|";
					}
				}
			}
		}

		& .responsibilities {
			margin-top: 0.8rem;
		}
	}
}
