@import "../../scss/variables";

.project-folders__wrapper {
	--gap: 2rem;
	display: grid;

	row-gap: var(--gap);
	align-items: flex-end;
	justify-content: space-between;

	@media (min-width: $small) {
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
		column-gap: var(--gap);
	}
}
