.project-folders__wrapper {
	--gap: 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	row-gap: var(--gap);
	column-gap: var(--gap);
	align-items: flex-end;
	justify-content: space-between;
}
