@import "../../scss/variables";

.project-folder {
	// --folder-color: var(--grey700);
	--folder-color: #bbb6b0c4;
	--tab-height: 2rem;
	--border-width: 1px;

	--border-color: rgba(255, 255, 255, 0.267);

	position: relative;
	display: grid;
	place-items: center;
	margin-top: var(--tab-height);
	min-width: calc(100vw - 6.4rem);
	min-height: calc(56.25vw - 6.4rem);
	border-bottom-left-radius: 1.6rem;
	border-bottom-right-radius: 1.6rem;
	border-top-left-radius: 0.4rem;
	color: var(--light);
	font-size: 2.4rem;
	border: var(--border-width) solid var(--border-color);
	text-align: center;
	padding: 0.8rem;
	grid-row: 1;
	grid-column: 1;
	aspect-ratio: 16/9;
	width: 100%;
	cursor: pointer;

	&::before,
	&::after {
		position: absolute;
		content: "";
		width: 49.8%;
		height: var(--tab-height);
		top: calc(var(--tab-height) * -1);
		background: var(--folder-color);
		border-top-right-radius: 1rem;
		border-top-left-radius: 1rem;
		border: 1px solid var(--border-color);
		border-bottom: none;
	}

	&.back {
		background: var(--grey800);

		&::after {
			display: none;
		}
		&::before {
			background-image: linear-gradient(
				var(--folder-color) 70%,
				var(--grey800)
			);
			left: calc(var(--border-width) * -1);
		}
	}

	&.front {
		background: var(--folder-color);

		&::after {
			right: calc(var(--border-width) * -1);
		}
		&::before {
			display: none;
		}
	}

	& .languages {
		display: none;
		transform: translateX(-5rem);
		flex-wrap: wrap;
	}

	&.open {
		& .languages {
			display: flex;
		}
	}

	&__wrapper {
		display: grid;
		align-items: flex-end;
		width: 100%;

		& .hidden-link {
			display: none;
		}

		&.open {
			z-index: 1000;

			& .back {
				transform: unset;
				&::before {
					width: 49.8%;
				}
			}
			& .front {
				position: relative;
				z-index: 2;
				animation: open 0.5s linear;
				transform: rotateX(-180deg) translateY(-100%);
			}
		}
		@media (min-width: $xsmall) {
			--folder-min-width: 30rem;
			--folder-min-height: 16rem;

			& .project-folder {
				min-width: var(--folder-min-width);
				min-height: var(--folder-min-height);
				max-width: calc(100vw - 8rem);
			}

			// &:hover {
			// 	& .front {
			// 		transform: skewX(-10deg) scaleX(0.9);
			// 		// height: 15rem;
			// 	}

			// 	& .back {
			// 		// width: calc(var(--folder-min-width) - 2%);
			// 		transform: scaleX(0.9) translateX(-5%);

			// 		&::before {
			// 			width: 55%;
			// 		}
			// 	}

			// 	& .languages {
			// 		display: flex;
			// 	}
			// }
		}
	}
}

@keyframes open {
	0% {
		transform: rotateX(0deg) translateY(0%);
	}

	5% {
		transform: rotateX(10deg) translateY(2%);
	}

	10% {
		transform: rotateX(20deg) translateY(4%);
	}

	15% {
		transform: rotateX(30deg) translateY(8%);
	}

	20% {
		transform: rotateX(40deg) translateY(15%);
	}

	25% {
		transform: rotateX(50deg) translateY(27%);
	}

	30% {
		transform: rotateX(60deg) translateY(51%);
	}

	35% {
		transform: rotateX(70deg) translateY(97%);
	}

	40% {
		transform: rotateX(80deg) translateY(240%);
	}

	45% {
		transform: rotateX(85deg) translateY(526%);
	}

	46% {
		transform: rotateX(86deg) translateY(669%);
		opacity: 1;
	}

	47% {
		transform: rotateX(87deg) translateY(913%);
	}

	48% {
		transform: rotateX(88deg) translateY(1392%);
	}

	49% {
		transform: rotateX(89deg) translateY(2830%);
	}

	50% {
		transform: rotateX(90deg) translateY(-100%);
		opacity: 0;
	}

	51% {
		transform: rotateX(91deg) translateY(-2830%);
	}

	52% {
		transform: rotateX(92deg) translateY(-1477%);
	}

	53% {
		transform: rotateX(93deg) translateY(-999%);
	}

	54% {
		transform: rotateX(94deg) translateY(-762%);
		opacity: 1;
	}

	55% {
		transform: rotateX(95deg) translateY(-620%);
	}

	60% {
		transform: rotateX(100deg) translateY(-332%);
	}

	65% {
		transform: rotateX(110deg) translateY(-193%);
	}

	70% {
		transform: rotateX(120deg) translateY(-149%);
	}

	75% {
		transform: rotateX(130deg) translateY(-126%);
	}

	80% {
		transform: rotateX(140deg) translateY(-114%);
	}

	85% {
		transform: rotateX(150deg) translateY(-108%);
	}

	90% {
		transform: rotateX(160deg) translateY(-103%);
	}

	95% {
		transform: rotateX(170deg) translateY(-101%);
	}

	100% {
		transform: rotateX(180deg) translateY(-100%);
	}
}
