.project-folder {
	&__wrapper {
		display: grid;
		align-items: flex-end;

		&:hover {
			& .front {
				transform: skewX(-10deg) scaleX(0.9);
				height: 15rem;
			}

			& .back {
				width: 27rem;
			}

			& .languages {
				display: flex;
			}
		}
	}
	--folder-color: var(--grey700);
	--tab-height: 2rem;
	--border-width: 1px;

	position: relative;
	display: grid;
	place-items: center;
	margin-top: var(--tab-height);
	width: 30rem;
	height: 16rem;
	border-bottom-left-radius: 1.6rem;
	border-bottom-right-radius: 1.6rem;
	border-top-left-radius: 0.4rem;
	color: var(--light);
	font-size: 2.4rem;
	border: var(--border-width) solid var(--light);
	text-align: center;
	padding: 0.8rem;
	cursor: pointer;
	grid-row: 1;
	grid-column: 1;

	&::before,
	&::after {
		position: absolute;
		content: "";
		width: 49.8%;
		height: var(--tab-height);
		top: calc(var(--tab-height) * -1);
		background: var(--folder-color);
		border-top-right-radius: 1rem;
		border-top-left-radius: 1rem;
		border: 1px solid var(--light);
		border-bottom: none;
	}

	&.back {
		background: var(--grey800);

		&::after {
			display: none;
		}
		&::before {
			background-image: linear-gradient(
				var(--folder-color) 70%,
				var(--grey800)
			);
			left: calc(var(--border-width) * -1);
		}
	}

	&.front {
		background: var(--folder-color);

		&::after {
			right: calc(var(--border-width) * -1);
		}
		&::before {
			display: none;
		}
	}

	& .languages {
		display: none;
		transform: translateX(-5rem);
		flex-wrap: wrap;
	}

	&.open {
		& .languages {
			display: flex;
		}
	}
}
