@import "../../components/WorkHistory/work-history.scss";
@import "../../components/SideProjects/side-projects.scss";

main.resume {
	font-family: monospace;
	line-height: 1.75;

	.resume__section {
		row-gap: 2rem;
	}

	.content__wrapper {
		display: grid;
		row-gap: 2.4rem;
	}

	& .skills {
		display: flex;
		flex-wrap: wrap;
		column-gap: 0.8rem;
		font-style: italic;
		text-transform: uppercase;

		li {
			list-style: none;

			&.highlight {
				background: var(--aqua300);
				padding: 0 0.8rem;
			}
		}
	}
}
