@import "../../scss/backgrounds";
@import "../../scss/variables";
@import "../../scss/mixins";

.body {
	color: var(--primary);
	background-color: var(--dark);
	// overflow: hidden;
	@include background-design;

	& .layout__wrapper {
		display: grid;
		grid-template-rows: max-content auto max-content;
		min-height: 100vh;
		height: 100%;
	}

	@media (min-width: $medium) {
		& .layout__wrapper {
			max-width: $medium;
			margin: auto;
		}
	}

	@media (min-width: $large) {
		& .layout__wrapper {
			max-width: 66vw;
			margin: auto;
		}
	}

	header,
	footer,
	main {
		padding: 3.2rem;
	}

	main {
		display: grid;
		row-gap: 3.2rem;
	}

	main.paper {
		--page-margin: 3.2rem;

		background: var(--paper-background);
		color: var(--dark);
		margin: var(--page-margin);
		border-radius: 0.4rem;

		a {
			color: var(--aqua400);

			& .icon {
				background-color: var(--aqua400);
			}
		}
	}
}
