@import "../../scss/backgrounds";
@import "../../scss/variables";
@import "../../scss/mixins";

.body {
	color: var(--primary);
	background-color: var(--dark);
	// overflow: hidden;
	@include background-design;

	& .layout__wrapper {
		display: grid;
		grid-template-rows: max-content auto max-content;
		min-height: 100vh;
		height: 100%;
	}

	@media (min-width: $medium) {
		& .layout__wrapper {
			max-width: $medium;
			margin: auto;
		}
	}

	header,
	footer,
	main {
		padding: 3.2rem;
	}
}
