@import "../../scss/mixins";
@import './menuButton.scss';
@import './nav.scss';

header {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	color: var(--primary);
	max-width: 100vw;

	& .header__info {
		text-decoration: none;
		h1 {
			font-variant: small-caps;
		}

		p {
			font-size: 1.4rem;
		}
	}
}
//
