@import "../../scss/mixins";

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--primary);
	// @include background;

	& .header__info {
		text-decoration: none;
		p {
			font-size: 1.4rem;
		}
	}
}
//
