@import "../../scss/variables";

main.project__page {
	position: relative;
	display: grid;
	grid-template-columns: auto min-content;
	column-gap: 3.2rem;
	row-gap: 3.2rem;

	& .title__wrapper {
		grid-column: 1/-1;
	}
	& .hero {
		max-width: 100%;
	}

	& .languages {
		display: grid;
		row-gap: 1.6rem;
		grid-column: 2;
		padding: 2.4rem;
		border: 1px dashed;
		max-width: max-content;
		height: max-content;
	}

	& .links__wrapper {
		// grid-column: 2;
	}

	& .content__wrapper {
		display: grid;

		row-gap: 1.6rem;
		grid-column: 1/-1;
	}

	@media (min-width: $medium) {
		grid-template-columns: 3fr 1fr;

		& .title__wrapper {
			grid-column: unset;
		}

		& .links__wrapper {
			grid-column: 1;
		}

		& .languages {
			position: sticky;
			top: 3.2rem;
			grid-column: 2;
			grid-row: 1;
		}

		& .content__wrapper {
			grid-column: 1;
		}
	}
}
