:root,
*:before,
*:after {
	--mix-colors-cyan: #10a1a3;
	--mix-colors-aqua: #24ac82;
	--mix-colors-green: #6cb14f;
	--mix-colors-yellow: #b3ac0b;
	--mix-colors-orange: #ff9603;

	--blue800: #10a1a3;
	--blue700: #48adb0;
	--blue600: #6ababe;
	--blue500: #87c6ca;
	--blue400: #a3d3d7;
	--blue300: #bee0e3;
	--blue200: #d8ecef;
	--blue100: #f2f9fa;

	--aqua500: #001300;
	--aqua400: #22593b;
	--aqua300: #24ac82;
	--aqua200: #7cd6ba;
	--aqua100: #c6fff0;

	--grey800: #2e2e2e;
	--grey700: #484848;
	--grey600: #636363;
	--grey500: #808080;
	--grey400: #9e9e9e;
	--grey300: #bebebe;
	--grey200: #dedede;
	--grey100: #ffffff;

	--light: var(--grey100);
	--dark: var(--grey800);
	--primary: var(--light);
	--secondary: var(--dark);
	--link: var(--primary);

	--menu-zIndex: 5;
	--menu-btn-zIndex: 10;
	--body-background-image: var(--background-image-dark);

	// @media (prefers-color-scheme: dark) {
	// 	--primary: var(--light);
	// 	--secondary: var(--dark);
	// 	--body-background-image: var(--background-image-dark);
	// }

	// @media (prefers-color-scheme: light) {
	// 	--primary: var(--dark);
	// 	--secondary: var(--light);
	// 	--body-background-image: var(--background-image-light);
	// }
}

// BREAKPOINTS

$xxsmall: 425px;
$xsmall: 501px;
$small: 768px;
$medium: 1024px;
$large: 1440px;
$xlarge: 2560px;

$wholeMenuMinWidth: $small;
