@import "./debounce-throttle";

.garden {
	section {
		grid-auto-rows: max-content;
	}
}

.garden__page {
	& section {
		background: rgb(31 29 29 / 84%);
		padding: 3.2rem;
		line-height: 2;
	}
}

.fun {
	--stroop-color900: rgb(177, 98, 46);
	--stroop-color800: rgb(250, 244, 232);
	--stroop-color700: rgb(225, 146, 77);
	--stroop-color600: rgb(116, 48, 14);
	--stroop-color500: rgb(238, 188, 130);
	--stroop-color400: rgb(203, 125, 77);
	--stroop-color300: rgb(210, 140, 79);
	--stroop-color200: rgb(132, 51, 10);
	--stroop-color100: rgb(225, 166, 114);

	// Stroopwafel animation
	background: var(--stroop-color200);
	background-image: repeating-linear-gradient(
			94deg,
			var(--stroop-color800),
			var(--stroop-color800) 0.1%,
			var(--stroop-color600) 0.3%,
			transparent 1%,
			transparent 4%
		),
		repeating-linear-gradient(
			122deg,
			var(--stroop-color800),
			var(--stroop-color800) 0.1%,
			var(--stroop-color600) 0.3%,
			transparent 1%,
			transparent 4%
		),
		radial-gradient(
			var(--stroop-color400) 50%,
			var(--stroop-color900),
			transparent 80%
		);
	border: 2px dashed var(--stroop-color200);
	border-bottom: 1px dotted var(--stroop-color700);
	box-shadow: 0 10px 10px -5px var(--stroop-color600);
	animation: rotate-move 1s infinite linear;
}

@keyframes rotate-move {
	0% {
		transform: rotate(1deg);
	}

	100% {
		transform: rotate(359deg);
	}
}
